*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: linear-gradient(315deg, #fff 0%, #ede4eb 74%);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.caixa .botao {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    float: left;
    background: #fff;
    box-shadow: 0px 10px 10px rgba(0,0,0, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.caixa .botao .icone {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.caixa .botao:hover {
    color: #fff;
    width: 200px;
}
.caixa .botao:nth-child(1):hover .icone {
    background: darkblue;
}
.caixa .botao:nth-child(2):hover .icone {
    background: linear-gradient(315deg, red, purple);
}
.caixa .botao:nth-child(3):hover .icone {
    background: dodgerblue;
}
.caixa .botao:nth-child(4):hover .icone {
    background: rgb(45, 178, 45);
}
.caixa .botao:nth-child(5):hover .icone {
    background: rgb(66, 66, 241);
}
.caixa .botao:nth-child(6):hover .icone {
    background: black;
}

.caixa .botao .icone i {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}
.caixa .botao:nth-child(1):hover span {
    color: darkblue;
}
.caixa .botao:nth-child(2):hover span {
    color: red;
}
.caixa .botao:nth-child(3):hover span {
    color: dodgerblue;
}
.caixa .botao:nth-child(4):hover span {
    color: rgb(45, 178, 45);
}
.caixa .botao:nth-child(5):hover span {
    color: rgb(66, 66, 241);
}
.caixa .botao:nth-child(6):hover span {
    color: black;
}